/* CSS declarations go here */
body {
	background-color: #3ca1bd;
}

#questionAsker {
	background-color: #555555;
}

.questionBoard {
	background-color: FF0000;
	position: relative;
	width: 100%;
	
}

.question {
	background-color: 00FF00;
	width: 50%;
	background-color: #666666;
}
#questionWelcome {
	background-color: #777777;
}