/* CSS declarations go here */
body {
	font-family: Avenir;
	background-image: url(hermione.jpg);
	background-size: 100%;
	background-position: left top;
	background-attachment: fixed;
}

#headerDiv {
	position: fixed;
	width: 26%;
	right: 77%;
	text-align: right;
	padding-right: 3px;
}

#header1Name {
	color: #ffdfdd;
	font-style: oblique;
}

#header2Name {
	font-family: sans-serif;
	font-style: oblique;
	font-size: 200%;
	color: #abeeef;
}

#questionAsker {
	background-color: #000000;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	padding: 10px 10px 10px 10px;
	opacity: .8;
}

.questionBoard {
	width: 50%;
	position: absolute;
	right: 23px;
	-webkit-transition: width .75s; /* For Safari 3.1 to 6.0 */
    transition: width .75s;
}
.questionTable {
	position: absolute;
	vertical-align: right;
}

.questionBoard:hover {
	width: 75%;
}

.icon {
	width: 25px;
	height: 25px;
}
.question {
	position: relative;
	right: 0px;
	top: 0px;
	height: auto;
	min-height: 50px;
	font-size: 150%;
	margin: 7px 7px 7px 7px;
	padding: 15px 15px 15px 15px;
	background-color: #CBEEF2;
	width: 100%;
	opacity: .7;
	box-shadow: -10px 10px 5px #888888;
	-webkit-transition: background-color .5s, opacity .5s, color .5s, box-shadow .25s, right 0.25s, top .25s; /* For Safari 3.1 to 6.0 */
    transition: background-color .5s, opacity .5s, color .5s, box-shadow .25s, right 0.25s, top 0.25s;
}

.question:hover {
	opacity: 0.9;
	background-color: #000000; /* #CBE4F2 */
	color: #FFFFFF;
	box-shadow: -15px 15px 7px #888888;
	right: -5px;
	top: -5px;
}

.questionTextBox {

}

#questionWelcome {
	background-color: #777777;
	font: italic;
}

#questionForm {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#questionBox {
	font: italic;
}

#hermione {
	position: fixed;
	height: 100%;
	width: auto;
	z-index: -1;
}
