/* CSS declarations go here */
body {
	background-color: #ffee55;
}

#questionAsker {
	background-color: #555555;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.questionBoard {
	width: 50%;
	position: absolute;
	right: 3px;
}

.question {
	height: 50px;

	margin: 3px 3px 3px 3px;
	/*border-color: #FF0000;*/
	padding: 5px 5px 5px 5px;
	
	background-color: #00FF00;
	width: 100%;
	opacity: .7;
}
#questionWelcome {
	background-color: #777777;
}

#hand-thing {
	position: fixed;
	left: 125px;
	z-index: -1;
}