/* CSS declarations go here */
body {
	background-color: #ffffff;
}

#questionAsker {
	background-color: #555555;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	padding: 10px 10px 10px 10px;
}

.questionBoard {
	width: 50%;
	position: absolute;
	right: 23px;
	
}

.question {
	height: 50px;

	margin: 7px 7px 7px 7px;
	padding: 5px 5px 5px 5px;
	
	background-color: #CBEEF2;
	width: 100%;
	opacity: .7;
	filter: blur(5px);


}
#questionWelcome {
	background-color: #777777;
	font: italic;
}

#questionForm {
	position: fixed;
	left: 0px;
	bottom: 0px;
}

#questionBox {
	font: italic;
}

#hand-thing {
	position: fixed;
	left: 125px;
	z-index: -1;
}